binds {
    Mod+R { spawn-sh "rofi -show drun -show-icons";}
    Mod+Return { spawn "ghostty";}
    Mod+E { spawn "nautilus";}
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Z { toggle-window-floating; }
    Mod+X { toggle-column-tabbed-display;}

    // Window control
    Mod+Q { close-window; }
    Mod+F { maximize-column; }
    Mod+Shift+F {fullscreen-window; }
    Mod+Tab { toggle-overview; }
    Mod+A { focus-column-left; }
    Mod+D { focus-column-right; }
    Mod+Shift+A { move-column-left; }
    Mod+Shift+D { move-column-right; }

    // FN shortcuts
    XF86AudioRaiseVolume { spawn-sh "wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%+"; }
    XF86AudioLowerVolume { spawn-sh "wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%-"; }
    XF86AudioMute { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    Shift+XF86AudioRaiseVolume { spawn-sh "wpctl set-volume -l 1 @DEFAULT_AUDIO_SOURCE@ 5%+"; }
    Shift+XF86AudioLowerVolume { spawn-sh "wpctl set-volume -l 1 @DEFAULT_AUDIO_SOURCE@ 5%-"; }
    Shift+XF86AudioMute { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp { spawn-sh "brightnessctl set +5%"; }
    XF86MonBrightnessDown { spawn-sh "brightnessctl set 5%-"; }

    // Workspace Binds
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
}